= link_to 'Set', :controller => controller_name, :action => 'set_current_folder', :id => rec.id
- unless is_eclient? || is_staff?
  |
  = link_to 'Edit', :controller => controller_name, :action => 'edit', :id => rec.id
  |
  = link_to 'Delete', {:controller => controller_name, :action => 'destroy', :id => rec.id} , :confirm => 'Are you sure?', :method => 'delete'
  |
= link_to 'Nest', :controller => controller_name, :action => 'nest', :id => rec.id