%h3
  Welcome to the Internet File Manager
%p
  Before proceeding to upload/download the files and document, please take a moment to enter Basic Information about your client unless you have done so already.
%p
  The documents are organized in folders.  If a folder that you need is not there, feel free to create a new folder and then upload a document.
%p
  If a document has been uploaded by our staff for you, first locate the folder it is stored in, and then download it by clicking on download link
%p
  Finally, you can enter any notes to us by clicking on the Notes tab and optionally send it as an email by clicking on the send email check box. The system will invite you to type in a subject for email.
%p
  This automates your communication with us over the net and is available to you 24X7.
%p
  Let us know how can we improve it further to communicate with you more effectively and efficiently.